body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* ================Card Container ==================================*/
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To evenly distribute the space between the cards */
}

/* Card */
/* .card {
    width: calc(33.33% - 20px); 33.33% width for each card with margin between them
    margin-bottom: 20px;
    box-sizing: border-box; Include padding and border in the element's total width and height
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
/* 
.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

 */

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 15rem;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.carousel-item img {
  height: 400px; /* Adjust the height of the carousel images */
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Hide default carousel indicators */
.carousel-indicators {
  display: none;
}
